# Core application and web framework
fastapi
uvicorn
pydantic
python-dotenv
google-genai
google-adk
beautifulsoup4
# Database Driver (can be removed if using the line above)
psycopg2-binary
lxml
google-search-results
serpapi